---
const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, price, image, category, imageHover } = frontmatter;

import { slugify } from "../js/utils";

console.log(imageHover);

---


<div class="col-6 col-sm-6 col-lg-4 col-md-6 col-sm-6 mb-45grid-item col">
    <div class="product single-product  32891398553657   ">
        <div class="product-thumb single-product__image">
            <a class="image image-wrap" href={url}>
                <img id=""
                      class="responsive-image__image popup_cart_image "
                      src={image.src}
                      alt={image.alt}
                      >
                <noscript>
                    <img class="popup_cart_image"
                        src={image.src}
                        alt={image.alt}>
                </noscript>

                <style>
                    #Image-18598732333113-0 {
                        max-width: 600.0px;
                        max-height: 800px;
                    }
                </style>
                <img class="responsive-image__image popup_cart_image secondary__img"
                    src={imageHover.src}
                    alt={image.alt}
                    >
                <noscript>
                    <img class="popup_cart_image secondary__img" src={imageHover.src}alt={image.alt} >
                </noscript>
            </a>
        </div>
        <div class="product-info single-product__content text-center">
            <h6 class="title popup_cart_title">
                <a href="/collections/all/products/grey-tool">{title}</a>
            </h6>
            <span class="price">
                <span id="product_current_price" class="discounted-price new">
                <span class="money" data-currency-usd="{price}">{price}</span></span>
            </span>
        </div>
    </div>
</div>